:root {
    --nav-content-width: 1030px;
    --main-info-content-width: 1030px;
    --nav-bar-width: 350px;
    --nav-height: 75px;
    --theme-gradient-accent: linear-gradient(90.33deg, #D1D1C7 24.67%, rgba(200, 200, 189, 0) 96.53%);
    --about-couch-width: 588px;
    --requests-content-width: 946px;
    --request-item-width: 290px;
    --border-radius: 15px;
    --request-item-background: #FFFFFF;
    --font-size-large: 2.1875rem;
    --font-size-small: 1.5rem;
    --font-size-small-extra: 1.75rem;
    --font-size-least: 1.4375rem;
    --font-family-title: 'Playfair Display';
    --font-family-subtitle: 'Open Sans';
    --font-weight-large: 700;
    --font-weight-small: 600;
    --text-align: center;
    --services-width: 1440px;
    --font-color: #000000;
    --services-container-width: 1080px;
    --services-list-container-width: 401px;

}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/static/PlayfairDisplay-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/static/OpenSans-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/static/OpenSans-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/static/OpenSans-Regular.ttf');
    font-weight: 400;
}


.main-info-container {
    width: 100%;
    background-image: url('../images/mainPhoto.jpg');
    padding-bottom: 135px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 88px;
}

.nav-bar-container {
    width: 100%;
    height: var(--nav-height);
    margin-bottom: 195px;
}

.nav-bar-content {
    width: var(--nav-content-width);
}

.nav-bar {
    width: var(--nav-bar-width);
}

.about-couch-container {
    margin: 0 auto;
    max-width: var(--main-info-content-width);
    display: flex;
}

.couch-info {
    max-width: var(--about-couch-width);
}

.requests {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.requests-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    width: var(--requests-content-width);
    list-style: none;
    justify-content: center;
    margin-bottom: 123px;
}

.requests-item {
    width: var(--request-item-width);
    margin-right: 38px;
    background: var(--request-item-background);
    border: 2px solid #D6D6D6;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    flex-direction: column;
    margin-bottom: 44px;
}

.requests-item img {
    width: 117px;
    height: 117px;
    margin-top: 32px;
    margin-bottom: 23px;
}


.requests-item:nth-child(3),
.requests-item:nth-child(5) {
    margin-right: 0;
}

.requests-item:nth-child(4),
.requests-item:nth-child(5) {
    margin-bottom: 0;
}


.requests-content {
    background: #F9F9F9;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
    width: 274px;
    height: 126px;
    flex-direction: column;
}


.requests-text {
    font-family: var(--font-family-subtitle);
    font-style: normal;
    font-weight: var(--font-weight-small);
    font-size: var(--font-size-small);
    line-height: 33px;
    text-align: center;
    color: var(--font-color);
    max-width: 192px;
    text-align: var(--text-align);
}

.text-wrap {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
}

.text-width-large {
    max-width: 213px;
}

.requests-title {
    font-family: var(--font-family-title);
    font-style: normal;
    font-weight: var(--font-weight-large);
    font-size: var(--font-size-large);
    line-height: 47px;
    text-align: var(--text-align);
    letter-spacing: 0.04em;
    color: var(--font-color);
    margin-bottom: 85px;
}

.services {
    width: var(--services-width);
    display: flex;
    position: relative;
    background: linear-gradient(90.33deg, #E0E0D4 24.67%, rgba(224, 224, 212, 0) 96.53%);;
}


.services-container {
    max-width: var(--services-container-width);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.services-title {
    font-family: var(--font-family-title);
    font-style: normal;
    font-weight: var(--font-weight-large);
    font-size: var(--font-size-large);
    line-height: 47px;
    color: #000000;
    padding-top: 51px;
    margin-bottom: 10px;
}

.services-subtitle {
    font-family: var(--font-family-subtitle);
    font-style: normal;
    font-weight: var(--font-weight-small);
    font-size: var(--font-size-small-extra);
    line-height: 38px;
    color: var(--font-color);
    max-width: 461px;
    margin-bottom: 39px;
}

.sirvices-list-container {
    width: var(--services-list-container-width)
}

.sirvices-list-container {
    background: #FFFFFF;
    border-radius: 15px;
    padding: 10px 13px;
}

.sirvices-list-content {
    width: 375px;
    border: 2px solid #D6D6D6;
    border-radius: 15px;
}

.sirvices-list-title {
    font-family: var(--font-family-subtitle);
    font-style: normal;
    font-weight: var(--font-weight-large);
    font-size: var(--font-size-least);
    line-height: 31px;
    text-align: var(--text-align);
    color: var(--font-color);
    max-width: 331px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 19px;
    margin-bottom: 33px;
}

.sirvices-list {
    list-style: none;
    position: relative;
    padding-left: 26px;
}

.sirvices-item {
    margin-bottom: 28px;
    position: relative;
}

.sirvices-item:last-of-type {
    margin-bottom: 41px;
}


.sirvices-item-text {
    padding-right: 7px;
    padding-left: 27px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 31px;

    color: #000000;
}

.sirvices-item::before {
    content: '';
    width: 17px;
    top: 6px;
    height: 17px;
    border-radius: 50%;
    position: absolute;
    background: #9DD3A8;
}